@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
}
body {
  background-color: rgb(235, 221, 201);
}
h2 {
  padding-top: 30px;
}
h2,
p {
  color: rgb(3, 3, 3, 0.6);
  text-align: center;
}
p {
  font-size: small;
}

.navbar {
  background-color: #fabd03 !important;
  height: 90px;
}

.main h1,
h6 {
  font-family: "satisfy";
}
#subs,
.main h6 {
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px rgb(3, 3, 3, 0.6);
}
.main h1 {
  font-size: 40px;
}
.main #utama {
  font-size: 120px;
  padding-bottom: 0px;
  color: #fabd03;
  text-shadow: 1px 2px rgb(3, 3, 3, 0.6);
}
.main {
  background-image: url(../Assets/IMG/Profil/zyro-image.jpeg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: 0px -450px;
  padding: 170px 15%;
  height: 680px;
  box-sizing: border-box;
  color: rgb(3, 3, 3, 0.63);
  box-shadow: rgba(0, 0, 0, 0, 06);
}
#but {
  margin-top: 30px;
  height: 50px;
  width: 180px;
  border-radius: 22px;
  background-color: orangered;
  background-color: #fabd03;
  color: rgb(3, 3, 3, 0.6);
}
#but:hover {
  background-color: rgba(82, 38, 7, 0.7);
  background-color: orangered;
}

#abus {
  height: 260px;
  background-color: #fabd03;
  text-align: center;
  padding: 40px 60px 0px 60px;
  box-sizing: border-box;
  line-height: 0.75cm;
}
#abus h2,
#Products h2,
#about h2,
#contacts {
  padding-bottom: 30px;
}
#abus h2 {
  padding-top: 0px;
}
.products {
  height: 1750px;
  background-color: rgb(248, 241, 227);
}
.products h2,
.products p {
  color: rgb(3, 3, 3, 0.6);
  text-align: center;
}
.products h2 {
  padding-top: 120px;
}
.products p {
  padding-top: 30px;
}
.keunggulan {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #fabd03;
  border-radius: 30px;
}
.unggul {
  flex: 1;
  margin: 50px;
}
.unggul h3,
h4 {
  font-family: sans-serif;
  color: rgb(3, 3, 3, 0.63);
}
.unggul h3 {
  font-size: 20px;
  padding-bottom: 15px;
}
.unggul h4 {
  font-size: small;
  line-height: 0.75cm;
  text-align: justify;
}
.unggul p {
  text-align: justify;
  line-height: 0.75cm;
}
#titleprod {
  margin-top: 20px;
  margin-bottom: 20px;
}
.picunggul {
  flex: 1;
}
#container {
  display: flex;
  flex-direction: row;
  height: 352px;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: wheat;
}
a:hover {
  color: orange;
}
.satu {
  flex: 3;
  background-image: url(../Assets/IMG/Menu/1.jpeg);
  margin: 15px;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid rgb(187, 154, 92);
  height: 200px;
  width: 200px;
  display: flex;
  position: relative;
}
#a1 {
  width: 200px;
  background-color: #fabd03;
  height: 50px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.dua {
  flex: 3;
  background-image: url(../Assets/IMG/Menu/pedas-removebg-preview.png);
  background-size: cover;
  background-color: white;
  background-position: 0px -60px;
  border: 1px solid #fabd03;
  height: 400px;
  width: 500px;
  margin: 4px;
  border-radius: 20px;
  display: flex;
  position: relative;
}

#a2 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  color: rgb(3, 3, 3, 0.6);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  border-radius: 20px;
  font-size: small;
}
.tiga {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/bawang-removebg-preview.png);
  background-size: cover;
  background-color: white;
  background-position: 0px -60px;
  border: 1px solid #fabd03;
  height: 400px;
  width: 500px;
  margin: 4px;
  position: relative;
  display: flex;
  border-radius: 20px;
}
#a3 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.empat {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/kencur-removebg-preview.png);
  background-size: cover;
  background-color: white;
  background-position: 0px -60px;
  border: 1px solid #fabd03;
  height: 400px;
  width: 500px;
  margin: 4px;
  position: relative;
  display: flex;
  border-radius: 20px;
}
#a4 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.lima {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/kencur_bot-removebg-preview_1__1_-removebg-preview.png);
  background-color: white;
  background-size: cover;
  background-position: 0px -60px;
  border: 1px solid #fabd03;
  height: 400px;
  width: 500px;
  margin: 4px;
  display: flex;
  position: relative;
  border-radius: 20px;
}
#a5 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
#about {
  background-color: #fabd03;
  height: 350px;
  line-height: 0.75cm;
  padding: 40px 60px;
}
.contacts p,
.contacts h2 {
  color: gray;
  padding-top: 30px;
}

.contacts p {
  padding-bottom: 30px;
}

.contacts {
  background-color: rgb(248, 241, 227);
}

.input {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  width: 40%;
  margin: 15px;
}
#inp1,
#inp2,
#inp3,
#inp4 {
  border: 1px solid #fabd03;
}
#kirim:hover {
  background-color: orangered;
}
#kirim {
  background-color: grey;
  width: 400px;
  height: 50px;
  margin: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#ico {
  padding-right: 20px;
}
#wa {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#no {
  font-size: 10px;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #fabd03;
}
#footer h5 {
  padding-bottom: 5px;
  padding-top: 30px;
  color: rgb(3, 3, 3, 0.6);
}
#footer h6 {
  font-family: sans-serif;
  color: rgb(3, 3, 3, 0.6);
  font-size: small;
}

@media (max-width: 500px) {
  * {
    max-width: 100%;
  }

  .navbar {
    height: 70px;
    width: auto;
    box-sizing: border-box;
  }
  /* untuk mengatur main */
  .main #utama {
    font-size: 70px;
    width: 100%;
  }
  .main #subs {
    font-size: 17px;
    width: 100%;
  }
  .main h6 {
    font-size: 10px;
  }
  .main {
    text-align: center;
    padding: 177px 50px;
    background-position: 0px 0px;
    width: auto;
    height: 530px;
  }
  #but {
    width: 100px;
    height: 38px;
    font-size: 9px;
  }
  #but:hover {
    background-color: rgba(82, 38, 7, 0.7);
    background-color: orangered;
  }
  /* akhir untuk mengatur main */

  /* mengatur about us */
  #abus {
    padding-top: 28px;
    height: 270px;
    width: auto;
  }
  #abus h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #abus p {
    font-size: 9px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 0.5cm;
  }
  /* akhir mengatur about us */

  /* mengatur products */
  #products {
    height: 2000px;
    width: auto;
  }
  #products h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #products p {
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
  }
  .keunggulan {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  #titleunggul {
    font-size: 12px;
    text-align: center;
    padding-bottom: 200px;
    font-family: sans-serif;
  }
  .unggul {
    flex: 1;
    margin: auto;
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .unggul h3 {
    visibility: hidden;
  }
  .unggul h4 {
    font-family: sans-serif;
    color: rgb(3, 3, 3, 0.63);
    text-align: justify;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 9px;
    font-weight: normal;
    line-height: 0.5cm;
  }

  #titleprod {
    margin-top: 30px;
  }
  .picunggul {
    flex: 1;
    height: 50px;
    margin: auto;
    width: 150px;
    background-size: cover;
    background-image: url(../Assets/IMG/Menu/bawang-removebg-preview.png);
    background-position: 50% 50%;
    padding-bottom: 30px;
  }
  .picunggul img {
    visibility: hidden;
  }
  #container {
    display: flex;
    flex-direction: column;
    height: 1300px;
  }
  /* .satu {
    flex: 6;
    width: 91.5%;
    margin-top: 200px;
    background-position: 0px -10px;
  }
  #a1 {
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
  } */

  .dua {
    flex: 6;
    background-position: 35% 65%;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
  }
  #a2 {
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
    position: absolute;
  }
  .tiga {
    flex: 6;
    background-position: 35% 65%;
    height: 300px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
  }
  #a3 {
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
    position: absolute;
  }
  .empat {
    flex: 6;
    background-position: 35% 65%;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
  }
  #a4 {
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
    position: absolute;
  }
  .lima {
    flex: 6;
    background-position: 35% 65%;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
  }

  #a5 {
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
    position: absolute;
  }
  /* akhir mengatur products */

  /* mengatur about */
  #about {
    padding-top: 10px;
    height: auto;
    padding-bottom: 10px;
    width: auto;
  }
  #about h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #about p {
    font-size: 9px;
    text-align: justify;
    line-height: 0.5cm;
  }
  /* akhir mengatur about */

  /* mengatur contacts */
  #contacts {
    padding-top: 10px;
    height: auto;
    padding-bottom: 20px;
    width: auto;
  }
  #contacts h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #contacts p {
    padding-top: 0px;
    font-size: 9px;
    text-align: center;
  }
  .input {
    display: flex;
    width: 80%;
    height: 10%;
    border-radius: 5px;
  }
  .input:-webkit-input-placeholder {
    font-size: 9px;
    color: aqua;
  }
  .input::-moz-placeholder {
    font-size: 9px;
  }
  #inp1 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp2 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp3 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp4 {
    height: 300px;
    border: 1px solid wheat;
  }
  #kirim {
    width: 100px;
    height: 30px;
    font-size: small;
    border-radius: 5px;
    background-color: gray;
  }
  #kirim:hover {
    background-color: orangered;
  }
  #wa {
    font-family: Arial, Helvetica, sans-serif;
  }
  #footer {
    width: auto;
  }
  #footer h5 {
    font-size: 14px;
  }
  #footer h6 {
    font-size: 9px;
  }
  /* akhir mengatur contacts */
}
